<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}}: {{blogTitle}}</title>

        <meta name="description" content="{{description}}">
        <meta name="author" content="{{author}}">

        <meta property="og:title" content="{{title}}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{url}}">
        <meta property="og:description" content="{{description}}">
        <meta property="og:image" content="{{description_img}}">

        <link rel="icon" href="{{favicon_basic}}">
        <link rel="icon" href="{{favicon_svg}}" type="image/svg+xml">
        <link rel="apple-touch-icon" href="{{favicon_apple_icon}}">

        {{{global_assets}}}
        {{{article_head_assets}}}
    </head>
    <body class="dys-full">
        <div class="body">
            <header>
                <a href="#main" class="a11y-sr-only">Skip to Content</a>
            </header>
            <nav>{{{navigation}}}</nav>
            <main id="main" class="post">
                <article>
                    <h1>{{title}}</h1>
                    <div class="author">Written by {{author.name}}</div>
                    Published: <time datetime="{{time}}" id="time-display">{{time}}</time>
                    <script>if (window.Intl && window.Intl.DateTimeFormat) { document.getElementById('time-display').innerText = (new window.Intl.DateTimeFormat()).format(new Date('{{time}}')) }</script>
                    {{{content}}}
                </article>
                <aside class="sidebar">{{{tagTitle}}}{{#tags}}<a><div class="tag">{{.}}</div></a>{{/tags}}</aside>
            </main>
            <a class="to-top-real" href="#__top">To Top</a>
            <footer>
                {{privacyStatement}} <br />
                &copy; {{copyright}}
            </footer>
        </div>
        {{{article_body_assets}}}
    <script>
        window.addEventListener('scroll', function() {
            if (document.scrollingElement.scrollTop > 300) {
                document.querySelector('.to-top-real').classList.add('show')
            }
            else {
                document.querySelector('.to-top-real').classList.remove('show')
            }
        })
    </script>
    </body>
</html>